__pycache__/
*.py[cod]
.venv/
.pytest_cache/
_local/
build/
dist/
*.elf
*.nacp
*.nro
*.map
*.zip
logs/
switch_app/tests/test_core
transferencia-switch-*-src/
transferencia-switch-icon-homebrew-menu/
switch_app/build/
switch_app/*.elf
switch_app/*.nacp
switch_app/*.nro
switch_app/*.map
